<%= render partial: 'event_show' %>

<div id="event-join">
    <%= render partial: 'new_join_event', :locals => { attendee: @attendee } %>
</div>

<h3>Add to your google calendar</h3>

<% if current_user.added_to_google_calendar == true %>
    <p>Added to your calendar!</p>
<% else %>
    <%= link_to "Add to your calendar" , redirect_path(params[:id]) %>
<% end %>